.star .on {
  background: url(images/star24_on@2x.png);
}
.star .half {
  background: url(images/star24_half@2x.png);
}
.star .off {
  background: url(images/star24_off@2x.png);
}
.star .star-item {
  width: 20px;
  height: 20px;
  margin-right: 22px;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.star .star-item:last-child {
  margin-right: 0;
}
