.ratings{
  position: absolute;
  top: 174px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
 .ratings-content {
   .overview{
     display: flex;
     padding: 18px;
     .overview-left{
       flex: 0 0 137px;
       padding: 6px 0;
       width: 137px;
       border-right: 1px solid rgba(7,17,27,0.1);
       text-align: center;
       .score{
         line-height: 28px;
         font-size: 24px;
         color:rgb(255,153,0);
       }
        .title{
          margin-bottom: 8px;
          line-height: 12px;
          font-size: 12px;
          color:rgb(7,17,27);
        }
        .rank{
          font-size: 10px;
          line-height: 10px;
          color:rgb(147,153,159);
        }
     }
      .overview-right{
        flex: 1;
        padding-left: 24px;
        .score-wrapper{
          margin-bottom: 8px;
          font-size: 0;
          .title{
            display: inline-block;
            font-size: 12px;
            color:rgb(7,17,27);
            line-height: 18px;
          }
          .star{
            margin-left: 12px;
            display: inline-block;
            font-size: 12px;
          }
        }
        .delivery-wrapper{
          font-size: 0;
          .title{
            display: inline-block;
            font-size: 12px;
            color:rgb(7,17,27);
            line-height: 18px;
          }
          .deliveryTime{
            margin-left: 12px;
            display: inline-block;
            font-size: 12px;
            color:rgb(147,153,159);
            line-height: 18px;
          }
        }
      }
   }
 }
}
