.ratings{
  position: absolute;
  top: 174px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  .ratings-content {
    .overview{
      display: flex;
      padding: 18px;
      .overview-left{
        flex: 0 0 137px;
        padding: 6px 0;
        width: 137px;
        border-right: 1px solid rgba(7,17,27,0.1);
        text-align: center;
        .score{
          line-height: 28px;
          font-size: 24px;
          color:rgb(255,153,0);
        }
        .title{
          margin-bottom: 8px;
          line-height: 12px;
          font-size: 12px;
          color:rgb(7,17,27);
        }
        .rank{
          font-size: 10px;
          line-height: 10px;
          color:rgb(147,153,159);
        }
      }
      .overview-right{
        flex: 1;
        padding-left: 24px;
        .score-wrapper{
          margin-bottom: 8px;
          font-size: 0;
          .title{
            display: inline-block;
            font-size: 12px;
            color:rgb(7,17,27);
            line-height: 18px;
          }
          .star{
            margin-left: 12px;
            display: inline-block;
            font-size: 12px;
          }
        }
        .delivery-wrapper{
          font-size: 0;
          .title{
            display: inline-block;
            font-size: 12px;
            color:rgb(7,17,27);
            line-height: 18px;
          }
          .deliveryTime{
            margin-left: 12px;
            display: inline-block;
            font-size: 12px;
            color:rgb(147,153,159);
            line-height: 18px;
          }
        }
      }
    }
    li{
      padding: 16px 18px;
      position: relative;
      display: flex;
      .avatar{
        width: 28px;
        height: 28px;
        img{
          width: 28px;
          height: 28px;
          border-radius:50%;
        }
      }
      .content{
        margin-left: 12px;
        .username{
          font-size: 10px;
          color:rgb(7,17,27);
          line-height: 24px;
          margin-bottom: 4px;
        }
        flex:1;
        .content{
          margin-left: 12px;
        }
        .star{
          display: inline-block;
        }
        .deliveryTime{
          display: inline-block;
          font-size: 10px;
          font-weight: 200;
          color:rgb(147,153,159);
          line-height: 12px;
        }
        .ratingText{
          font-size: 12px;
          color:rgb(7,17,27);
          font-weight: 200;
          line-height: 12px;
        }
        .rateTime{
          position: absolute;
          right:18px;
          top:0;
          font-size: 10px;
          font-weight:200;
          color:rgb(147,153,159);
          line-height:12px;
        }
      }
    }
  }
}
.aa{
  width:60px;
  height: 32px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  color:#4d555d;
  line-height: 32px;
  background: #ccecf8;
}
.bb{
  width:60px;
  height: 32px;
  font-size: 12px;
  background: #ccecf8;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  color:#4d555d;
}
.cc{
  width: 60px;
  height: 32px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  color:#4d555d;
  background:#e9ebec;
}
.select{
  .router-link-active{
    color:#fff;
    background: #00a0dc;
  }
  a:last-child.router-link-active{
    color:#fff;
    background: #4d555d;
  }
}
