.ratings {
  position: absolute;
  top: 174px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.ratings .ratings-content .overview {
  display: flex;
  padding: 18px;
}
.ratings .ratings-content .overview .overview-left {
  flex: 0 0 137px;
  padding: 6px 0;
  width: 137px;
  border-right: 1px solid rgba(7, 17, 27, 0.1);
  text-align: center;
}
.ratings .ratings-content .overview .overview-left .score {
  line-height: 28px;
  font-size: 24px;
  color: #ff9900;
}
.ratings .ratings-content .overview .overview-left .title {
  margin-bottom: 8px;
  line-height: 12px;
  font-size: 12px;
  color: #07111b;
}
.ratings .ratings-content .overview .overview-left .rank {
  font-size: 10px;
  line-height: 10px;
  color: #93999f;
}
.ratings .ratings-content .overview .overview-right {
  flex: 1;
  padding-left: 24px;
}
.ratings .ratings-content .overview .overview-right .score-wrapper {
  margin-bottom: 8px;
  font-size: 0;
}
.ratings .ratings-content .overview .overview-right .score-wrapper .title {
  display: inline-block;
  font-size: 12px;
  color: #07111b;
  line-height: 18px;
}
.ratings .ratings-content .overview .overview-right .score-wrapper .star {
  margin-left: 12px;
  display: inline-block;
  font-size: 12px;
}
.ratings .ratings-content .overview .overview-right .delivery-wrapper {
  font-size: 0;
}
.ratings .ratings-content .overview .overview-right .delivery-wrapper .title {
  display: inline-block;
  font-size: 12px;
  color: #07111b;
  line-height: 18px;
}
.ratings .ratings-content .overview .overview-right .delivery-wrapper .deliveryTime {
  margin-left: 12px;
  display: inline-block;
  font-size: 12px;
  color: #93999f;
  line-height: 18px;
}
.ratings .ratings-content .content {
  padding: 18px;
}
.ratings .ratings-content .content .avatar {
  display: inline-block;
}
.ratings .ratings-content .content .avatar img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.ratings .ratings-content .content .content {
  display: inline-block;
  margin-left: 12px;
}
.aa {
  width: 60px;
  height: 32px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  color: #4d555d;
  line-height: 32px;
  background: #ccecf8;
}
.bb {
  width: 60px;
  height: 32px;
  font-size: 12px;
  background: #ccecf8;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  color: #4d555d;
}
.cc {
  width: 60px;
  height: 32px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  color: #4d555d;
  background: #e9ebec;
}
.router-link-active {
  color: #fff;
  background: #00a0dc;
}
.select a:last-child.router-link-active {
  color: #fff;
  background: #4d555d;
}
.on {
  display: inline-block;
  width: 21px;
  height: 21px;
  color: #00c850;
}
